body {
  font-family: 'Roboto', sans-serif;
}

nav {
  padding: 20px 40px 20px 40px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

h2 {
  font-size: 22px;
  font-weight: 400;
  margin: 0
}

table {
  border-spacing: 0;
  margin-top: 20px;
  font-family: Arial;
  color: #474747;
}

tr th {
  background: #eaeef0;
  padding: 12px 40px 12px 40px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

tr td {
  background: white;
  padding: 12px 40px 12px 40px;
  text-align: center;
  border-bottom: 5px solid #f4f7f9;
}

p {
  /* border-bottom: 1px solid grey;
  margin: 10px 10px 10px 10px;
  padding: 0 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; */
}

div span {
  margin-left: 50px;
}

div svg {
  margin-right: 10px;
}

a {
  color: #4fb9ff;
  text-decoration: none;
}

input {
  height: 40px;
  padding: 2px 15px 2px 15px;
  border:none;
  background: #e8e8e8;
  margin: 10px 10px 10px 10px;
  color: #3a3b3c;
  border-radius: 10px;
  font-size: 14px;
}

/*flexible classes for layout */

.layout-across {
  display: flex;
  flex-direction: row;
}

.layout-vertical {
  display: flex;
  flex-direction: column;
}

.layout-space-between {
  justify-content: space-between;
}

.layout-vertical-align {
  align-items: center;
}

.center {
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

/* .place-top-right {
  position: absolute;
  right: 20px;
}

.place-relatively {
  position: relative;
} */

/*Navigation classes */

.logo {
  width: 100px;
  align-self: center;
  cursor: pointer;
}

.navlinks {
  list-style-type: none;
  font-weight: 300;
}

.navlinks .navlink {
  margin-right: 20px;
  cursor: pointer;
    color: #474747;
}

.navlinks .navlink:hover {
  font-weight: 500;
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: solid 1px white;
  margin-left: 20px;
  object-fit: cover;
}

td .avatar {
  margin: 0 20px 0 0;
}


.main-body {
  background: #f4f7f9;
  height: 100%;
  padding: 100px 5% 100px 5%;
}

.view-lead-button {
  background: none;
  border: none;
  font-size: 12px;
  text-transform: none;
  letter-spacing: 0;
  font-family: Arial;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.view-lead-button svg {
  margin-left: 10px;
}

.border-box {
  border: 1px solid grey;
  border-radius: 10px;
  background: white;
  padding: 20px 20px 20px 20px;
  margin: 30px 30px 0 0;
}

.content {
  border-bottom: 1px solid grey;
  margin: 10px 10px 10px 10px;
  padding: 0 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.content img {
  margin: 0 10px 0 0;
}

.editButton {
  margin-left: 20px;
  cursor: pointer;
}

.form {
  background: white;
  max-width: 400px;
  margin-top: 25px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.form select {
  margin: 10px;
}

button {
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 10px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  font-family: arial;
  font-size: 12px;
}
.form button {
  margin: 10px 0 20px 0;
  align-self: center;
  padding: 10px 12px 10px 12px;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  background: #0da9ff;
  border-radius: 10px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.delete-button {
  margin: 0 10px 0 20px;
  padding: 10px 12px 10px 12px;
  background: red;
  color: white;
}

.edit-button {
  background: #768894;
  color: white;
  display: flex;
  align-items: center;
  padding: 4px 12px 4px 12px;
  font-size: 14px;
  justify-content: center;
}

.edit-button svg {
  margin: 0 5px 0 5px;
}

.add-button {
  background: #4fb9ff;
  font-size: 14px;
  padding: 10px 12px 10px 12px;
  color: white;
  border-radius: 10px;
}

.icon-link {
  cursor: pointer;
}
